* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Lato';
  font-size: 16px;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
  margin: 0;
  padding: 0;
}

p,
a {
  line-height: 1.3em;
}

ul {
  list-style-type: none;
}

i {
  display: inline-block;
  vertical-align: middle;
}

img,
span,
a,
i {
  vertical-align: middle;
}

button {
  background-color: inherit;
  border: 0;
  outline: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

/* -------------------------------- */

.u-cut-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-justify {
  text-align: justify !important;
}

.u-font-italic {
  font-style: italic !important;
}

.u-text-underline {
  text-decoration: underline !important;
}

/*Extra small devices Phones*/
@media screen and (max-width: 767px) {
}

/*Small devices Tablets*/
@media screen and (max-width: 991px) {
}

/*Medium devices Desktops*/
@media screen and (max-width: 1199px) {
}

/*Large devices Desktops*/
@media screen and (min-width: 1200px) {
}
